[Desktop Entry]
Name=CedarLogic
GenericName=Logic Simulator
Comment=Build and simulate digital logic circuits
Type=Application
Exec=cedarlogic %U
Icon=cedarlogic
Terminal=false
MimeType=application/x-cedarlogic-circuit;x-scheme-handler/cedarlogic;
StartupWMClass=CedarLogic
Categories=Education;Development;Electronics;
Keywords=logic;simulator;circuit;gates;
